.bg-pay{
  background-color: var(--secondary-color-50);
  border-radius: 5px;
  height: 900px;
  margin-bottom: 60px;
}
.price{
    position: absolute;
    right: 0;
    top: 137px;
  }

.policy-text a{
    color: var(--secondary-color);
  }
.form button{
  margin-top: 15px;
}
  .stages {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 80px 0;
}

.steps {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
}

.steps-segment {
    position: relative;
    flex-grow: 1;
    text-align: center;
}

.steps-segment a {
    text-decoration: none;
    color: inherit;
}

.steps-marker {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary-color-100);
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
}

.steps-segment.is-active .steps-marker {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.steps-segment.is-active .steps-content .heading {
    color: var(--primary-color);
}

.steps-segment + .steps-segment::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -82px;
    width: 184px;
    height: 2px;
    background-color: var(--primary-color-100);
    z-index: -1;
}

.steps-segment.is-active + .steps-segment::before {
    background-color: var(--primary-color);
}

.heading {
    font-size: 12px;
    color: var(--primary-color-100);
    margin-top: 0;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 83px;
    font-family: 'SVN-Gotham-Bold';
}
legend {
  font-weight: 600;
  margin-block-end: 0.5em;
  padding: 0;
}


.form__radios img{
  width: 30px;
  margin: 0;
}
.form__radios {
  display: grid;
  gap: 1em;
}

.form__radio {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  display: flex;
  padding: 1em;
}

.form__radio label {
  align-items: center;
  display: flex;
  flex: 1;
  margin-bottom: 0;
}
input[type="radio"] {
  accent-color: var(--primary-color);
}
input {
  border: 0;
  color: inherit;
  font: inherit;
}
.icon {
  block-size: 1em;
  display: inline-block;
  fill: currentColor;
  inline-size: 1em;
  vertical-align: middle;
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
}





