
.account-line{
    margin-bottom: 50px;
    
}

.icon-account ul {
    list-style: none;
    margin-top: 70px;
    border-right: 1pt solid var(--primary-color-300);
    height: 800px;
}

.icon-account ul li {
    margin: 30px 0;
    
}

.icon-account ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: color 0.3s, font-weight 0.3s, text-decoration 0.3s;
}

.icon-account ul li a .icon-user {
    width: 24px; 
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-account ul li a .icon-user i {
    font-size: 18px;
}

.icon-account ul li a span.active {
    color: #000;
    font-weight: bold;
}

.icon-account ul li a.inactive {
    color: var(--background-color-700);
    font-weight: normal;
}


/* Only xl */
@media (min-width: 1200px) {
    .icon-account ul li a.inactive:hover{
        color: var(--primary-color);
        font-family: SVN-Gotham-Bold;
        transition: 1s ease;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .icon-account ul li a.inactive:hover{
        color: var(--primary-color);
        font-family: SVN-Gotham-Bold;
        transition: 1s ease;
    }
}
.icon-account ul li a .icon-user + span {
    margin-left: 15px;
}

.info{
    margin-top: 70px;
    flex-grow: 1;
}

.my-account, .my-profile {
    margin-bottom: 40px;
}

.my-account h3, .my-profile h3 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.account-details, .profile-details {
    margin-bottom: 20px;
}
.account-phai{
    margin-top: 60px;
}

.detail-item {
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail-item span {
    font-size: 16px;
}

.password {
    font-family: 'Courier New', Courier, monospace;
}

.account-buttons  {
    gap: 30px;
    width: 500px;
}

.account-buttons button, .my-profile button {
    padding: 10px 20px;
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 1pt solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Only xl */
@media (min-width: 1200px) {
    .account-buttons button:hover, .my-profile button:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
        
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .account-buttons button:hover, .my-profile button:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
        
    }
}
/* === Small === */
@media (min-width: 576px) and (max-width: 767px) {
    .info{
        margin-top: 60px;
    }
    .icon-account ul {
        list-style: none;
        margin-top: 70px;
        border-right: 1pt solid var(--primary-color-300);
        height: 800px;
    }
    
    .icon-account ul li {
        margin: 30px 0;
        
    }
    
    .icon-account ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        display: flex;
        align-items: center;
        transition: color 0.3s, font-weight 0.3s, text-decoration 0.3s;
        font-size: 12px;
    }
    .account-buttons  {
        display: flex;
        gap: 30px;
        width: 400px;
        font-size: 11pt;
    }
    .account-buttons button, .my-profile button {
        padding: 10px 20px;
        color: var(--primary-color);
        background-color: var(--background-color);
        border: 1pt solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}
@media (max-width: 575px) {
    .info{
        margin-top: 60px;
    }
    .my-profile{
        margin-bottom: 0;
    }
   .account-phai{
    margin-top: 0;
   }
   .my-account{
    margin-bottom: 0;
   }
    .icon-account ul {
        list-style: none;
        margin-top: 70px;
        border-right: 1pt solid var(--primary-color-300);
        height: 1000px;
    }
    
    .icon-account ul li {
        margin: 30px 0;
        
    }
    
    .icon-account ul li a {
        text-decoration: none;
        color: var(--primary-color);
        font-weight: bold;
        display: flex;
        align-items: center;
        transition: color 0.3s, font-weight 0.3s, text-decoration 0.3s;
        font-size: 13px;
    }
   
    .account-details .detail-item{
        font-size: 10pt;
    }
    .account-buttons  {
        display: block;
        width: 300px;
        font-size: 8pt;
        margin-bottom: 10px;
    }
    
    .account-buttons button, .my-profile button {
        padding: 10px 20px;
        color: var(--primary-color);
        background-color: var(--background-color);
        border: 1pt solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}

