/* 
.icon-account ul {
    display: block;
    list-style-type: none;
   
}
.icon-account ul li{
    display: block;
    padding-top: 25px;
    border-right: 1px solid var(--primary-color) ;
    text-align: left;
    font-family: SVN-Gotham-Regular;
} */
.account-line{
    margin-bottom: 20px;
}
.icon-account ul {
    list-style: none;
    margin-top: 70px;
    border-right: 1pt solid var(--primary-color-300);
    height: 800px;
}

.icon-account ul li {
    margin: 30px 0;
    
}

.icon-account ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: color 0.3s, font-weight 0.3s, text-decoration 0.3s;
}

.icon-account ul li a .icon-user {
    width: 24px; 
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-account ul li a .icon-user i {
    font-size: 18px;
}

.icon-account ul li a span.active {
    color: #000;
    font-weight: bold;
}

.icon-account ul li a.inactive {
    color: var(--background-color-700);
    font-weight: normal;
}


.icon-account ul li a .icon-user + span {
    margin-left: 15px;
}

.info{
    margin-top: 70px;
    flex-grow: 1;
}

.my-account, .my-profile {
    margin-bottom: 40px;
}

.my-account h3, .my-profile h3 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.account-details, .profile-details {
    margin-bottom: 20px;
}
.account-phai{
    margin-top: 70px;
}

.detail-item {
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail-item span {
    font-size: 16px;
}

.password {
    font-family:SVN-Gotham-Bold;
}

.account-buttons {
    margin-top: 20px;
    font-size: 15pt;
}



/* / only Extra large / */
@media (min-width: 1200px) {

    .account-buttons button {
        padding: 60px 60px;
        color: var(--primary-color);
        background-color: var(--background-color);
        border: 1pt solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative; /* Ensure the icon position is relative to the button */
    }
    
    .account-buttons button:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
    }
    
    .account-buttons button:hover #canh-phai {
        color: var(--background-color) !important; /* Ensure this overrides any other styles */
    }
    
    .account-buttons button #canh-phai {
        color: #162a2c; /* Initial color */
        margin-left: 5px; /* Adjust spacing as needed */
    }
    .icon-account ul li a.inactive:hover{
        color: var(--primary-color);
        font-family: SVN-Gotham-Bold;
        transition: 1s ease;
    }
}

/* / only large / */

@media (min-width: 992px) and (max-width:1199px) {

    .account-buttons button {
        padding: 60px 60px;
        color: var(--primary-color);
        background-color: var(--background-color);
        border: 1pt solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative; /* Ensure the icon position is relative to the button */
    }
    
    .account-buttons button:hover {
        background-color: var(--primary-color);
        color: var(--background-color);
    }
    
    .account-buttons button:hover #canh-phai {
        color: var(--background-color) !important; /* Ensure this overrides any other styles */
    }
    
    .account-buttons button #canh-phai {
        color: #162a2c; /* Initial color */
        margin-left: 5px; /* Adjust spacing as needed */
    }
    .icon-account ul li a.inactive:hover{
        color: var(--primary-color);
        font-family: SVN-Gotham-Bold;
        transition: 1s ease;
    }
}

/* ( only medium ) */

@media (min-width: 768px) and (max-width:991px) {

    .account-buttons button {
        padding: 60px 60px;
        color: var(--primary-color);
        background-color: var(--background-color);
        border: 1pt solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative; /* Ensure the icon position is relative to the button */
    }
    
    
    .account-buttons button #canh-phai {
        color: #162a2c; /* Initial color */
        margin-left: 5px; /* Adjust spacing as needed */
    }

}

/* ( only small ) */

@media (min-width: 576px) and (max-width:767px) {

    .account-buttons button {
        padding: 60px 60px;
        color: var(--primary-color);
        background-color: var(--background-color);
        border: 1pt solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative; /* Ensure the icon position is relative to the button */
    }
    
    .account-buttons button #canh-phai {
        color: #162a2c; /* Initial color */
        margin-left: 5px; /* Adjust spacing as needed */
    }

}

/* ( only extra small ) */

@media (max-width: 575px) {
    .account-buttons button {
        padding: 20px 8px;
        color: var(--primary-color);
        background-color: var(--background-color);
        border: 1pt solid var(--secondary-color);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative; /* Ensure the icon position is relative to the button */
    }
    
    .account-buttons button #canh-phai {
        color: #162a2c; /* Initial color */
        margin-left: 5px; /* Adjust spacing as needed */
    }

}