.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    padding: 20px;
    width: 100%;
    opacity: 0;
    background-color: var(--background-color);
    border: solid 2px var(--background-color);
    transform: translate(-50%, -100%);
    z-index: 2;
  }
  .show-popup .form-popup{
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
  }
  .form-popup .close{
    position: absolute;
    top: 30px;
    right: 35px;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .quick-login {
    margin-bottom: 30px;
  }
  .form-details{
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  .form-details p{
    padding: 10px 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  .form-details h2{
    padding: 10px 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
  }
  .form-box h2{
    text-align: center;
    margin-bottom: 30px
  }
  .form-box .form-content{
    width: 100%;
    padding: 35px;
  }
  form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color-200);
  }
  .input-field input:focus{
    border-color: var(--primary-color);
  }
  .input-field input:is(:focus, :valid){
    padding: 16px 15px 0;
  }
  form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: var(--primary-color);
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
  }
  .input-field input:is(:focus, :valid) ~ label{
    color: var(--primary-color);
    font-size: 0.75rem;
    transform: translateY(-120%);
  }
  .form-box a{
    color: var(--secondary-color);
    text-decoration: none;
  }
  .form-box a:hover{
    text-decoration: underline;
  }
  .form-box :where(.forgot-pass, .policy-text){
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
  }
   
  .changePageItem-login button:hover{
    background: var(--secondary-color);
    transition: 0.2s ease;
  }
   .changePageItem-login button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: var(--background-color);
    cursor: pointer;
    background: var(--primary-color);
  }
  .form-box .bottom-link{
    text-align: center;
  }
  
  .signup .policy-text{
    
    align-items: center;
  }
  .signup .policy-text input{
    width: 14px;
    height: 14px;
    margin-right: 7px;
    margin-top: -7px;
  }
  .border{
    border: solid 2px var(--primary-color);
    max-width: 100%;
  }
  .social-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: var(--background-color);
    border-radius: 5px;
    font-family: 'SVN-Gotham-Bold';
    outline: none;
  }
  
  .facebook-btn {
    background-color: #3b5998;
  }
  
  .apple-btn {
    background-color: #000;
  }
  
  .google-btn {
    background-color: var(--background-color);
    border: solid 1pt var(--primary-color);
  }
  
  .social-btn.google-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: var(--primary-color);
    border-radius: 5px;
  }
  
  
  .social-btn img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }
  @media (min-width: 1px){
    .form-popup{
      width: 95%;
      display: contents;
    }
    .form-box .form-details{
      display: none;
    }
    .form-box .form-content{
      padding: 30px 20px;
    }
  }
  