.Header-Brochure{
    text-align: center;
    font-family: 'SVN-Gotham-Bold';
    color: var(--primary-color);
    background-color: var(--secondary-color-100);
    padding: 20px 0;
    font-size: 28px;
}
.brochure-title{
    font-family: 'SVN-Gotham-Bold';
    color: var(--secondary-color-400);
    font-size: 48px;
    margin-bottom: 20px;
}
.brochure-left,.brochure-right{
    margin-bottom: 50px;
}
.brochure-caption{
    font-family: 'SVN-Gotham-Bold';
    font-size: 24px;
    color: var(--primary-color);
    margin-top: 40px;
    margin-bottom: 40px;
}
.Brochure-content{
    font-family: 'SVN-Gotham-Regular';
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Brochure-title-content{
    font-family: 'SVN-Gotham-Bold';
    color:var(--primary-color);
    font-size: 22px;
}


.brochure-anh1, .brochure-anh2 img, .brochure-anh3 img, .brochure-anh4, .brochure-anh5 img, .brochure-anh6 img{
    width: 100%;
}
.brochure-trichdan{
    border-top: 1pt solid var(--primary-color);
    border-bottom: 1pt solid var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 19px;
    font-family: 'SVN-Gotham-Regular';
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Only xl */
@media (min-width: 1200px) {
    .brochure-bg-content:nth-child(4),.brochure-bg-content:nth-child(5){
        margin-top: 100px;
    }
    .brochure-anh1, .brochure-anh2, .brochure-anh3, .brochure-anh4, .brochure-anh5, .brochure-anh6{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .brochure-bg-content:nth-child(4),.brochure-bg-content:nth-child(5){
        margin-top: 100px;
    }
    .brochure-anh1, .brochure-anh2, .brochure-anh3, .brochure-anh4, .brochure-anh5, .brochure-anh6{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
     .brochure-anh2, .brochure-anh3, .brochure-anh4, .brochure-anh5, .brochure-anh6{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .brochure-anh1{
        margin-bottom: 20px;
    }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .brochure-anh2, .brochure-anh3, .brochure-anh4, .brochure-anh5, .brochure-anh6{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .brochure-anh1{
        margin-bottom: 20px;
    }
}
/* Only xs */
@media (max-width: 575px) {
    .brochure-anh2, .brochure-anh3, .brochure-anh4, .brochure-anh5, .brochure-anh6{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .brochure-anh1{
        margin-bottom: 20px;
    }
}















.breadcrumb{
    background-color: var(--background-color);
    margin-top: 10px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style-type: none;    
  }
  
/* Display list items side by side */
ul.breadcrumb li {
  display: block;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--primary-color);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--secondary-color-200);
  text-decoration: none;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}