/* Breadcrum
________________________________________ */
.breadcrumb{
    background-color: var(--background-color);
    margin-top: 10px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style-type: none;    
  }
  
/* Display list items side by side */
ul.breadcrumb li {
  display: block;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--primary-color);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--secondary-color-200);
  text-decoration: none;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
/* Breadcrum
________________________________________ */













/* Guides-BG
________________________________________ */
.Guides-BG{
    margin-top: 30px;
}

/* Only xl */
@media (min-width: 1200px) {
    .Guides-Header{
        padding-left: 150px;
        padding-right: 150px;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .Guides-Header{
        padding-left: 100px;
        padding-right: 100px;
    }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {

}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {

}
/* Only xs */
@media (max-width: 575px) {

}
.Guides-Title{
    font-family: 'SVN-Gotham-Bold';
    font-size: 32px;
    color: var(--secondary-color);
    text-align: center;
}
.Guides-Caption{
    font-family: 'SVN-Gotham-Book';
    font-size: 16px;
    text-align: center;
}
#Guides-Slider{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.Guides-img{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    text-align: center;
}
.Guides-img a{
    text-decoration: none;
    color: var(--primary-color);
    transition: ease-in-out 0.3s;
}
.Guides-img p{
    font-family: 'SVN-Gotham-Bold';
    font-size: 12px;
    transition: ease-in-out 0.3s;
    margin: 0;
    margin-top: 10px;
}
.Guides-img img{
    width: 100%;
    height: 90%;
    text-align: center;
    transition: ease-in-out 0.3s;
}

/* Only xl */
@media (min-width: 1200px) {
    .Guides-img a:hover  img,.Guides-img a:hover p{
        transform: scale(0.9);
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .Guides-img a:hover  img,.Guides-img a:hover p{
        transform: scale(0.9);
    }
}
.Gudies-Slick{
    position: relative;
    padding: 0;
}
.Gudies-Slick .prev_arrow{
    display: inline-block;
    color: var(--primary-color);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -20px;
    font-size: 40px;
    cursor: pointer;
}
.Gudies-Slick .next_arrow{
    display: inline-block;
    color: var(--primary-color);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -20px;
    font-size: 40px;
    cursor: pointer;
}
.Explore_product{
    text-align: center;
    margin-bottom: 70px;
}
.Explore_product a{
    font-size: 16px;
    font-family: 'SVN-Gotham-Bold';
    color: var(--primary-color);
    text-decoration: underline;
}
/* Guides-BG
________________________________________ */








/* Buying Guide
________________________________________ */
.BG-bg-left{
    padding-bottom: 60px !important;
    background-color: #B5BBB4;
    display: flex;
}
.BG-bg-right{
    padding-bottom: 60px !important;
    background-color: #E8EAEA;
    display: flex;
}
.Icon-BuyGuide img{
    width: 45px;
    margin-bottom: 10px;
}


/* Only xl */
@media (min-width: 1200px) {
    .buying-guide-img{
        width: 60%;
    }
    .buying-guide-info{
        width: 40%;
        padding: 60px;
        padding-bottom: 0;
        position: relative;
    }
    .Icon-BuyGuide{
        padding: 5px;
        margin-top:220px;
    }
    .buying-guide-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .Category{
        font-family: 'SVN-Gotham-Bold';
        font-size: 24px;
        margin-bottom: 40px;
    }
    .Title-BuyGuide{
        font-family: 'SVN-Gotham-Bold';
        font-size: 36px;
        margin-bottom: 40px;
    }
    .Caption-BuyGuide{
        font-family: 'SVN-Gotham-Book';
        font-size: 17px;

    }

    .Icon-BuyGuide p{
        font-family: 'SVN-Gotham-Bold';
        font-size: 20px;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .buying-guide-img{
        width: 50%;
        object-fit: cover;
    }
    .buying-guide-info{
        width: 50%;
        padding: 40px;
        padding-bottom: 0;
        position: relative;
    }
    .Icon-BuyGuide{
        padding: 5px;
        margin-top: 70px;
    }
    .buying-guide-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .Category{
        font-family: 'SVN-Gotham-Bold';
        font-size: 18px;
        margin-bottom: 40px;
    }
    .Title-BuyGuide{
        font-family: 'SVN-Gotham-Bold';
        font-size: 28px;
        margin-bottom: 40px;
    }
    .Caption-BuyGuide{
        font-family: 'SVN-Gotham-Book';
        font-size: 16px;
    }
    .Icon-BuyGuide p{
        font-family: 'SVN-Gotham-Bold';
        font-size: 18px;
    }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
    .buying-guide-img{
        width: 40%;
        object-fit: cover;
    }
    .buying-guide-info{
        width: 60%;
        padding: 30px;
        padding-bottom: 0;
        position: relative;
    }
    .Icon-BuyGuide{
        padding: 5px;
        margin-top: 70px;
    }
    .buying-guide-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .Icon-BuyGuide img{
        width: 45px;
        margin-bottom: 10px;
    }
    .Category{
        font-family: 'SVN-Gotham-Bold';
        font-size: 18px;
        margin-bottom: 40px;
    }
    .Title-BuyGuide{
        font-family: 'SVN-Gotham-Bold';
        font-size: 28px;
        margin-bottom: 40px;
    }
    .Caption-BuyGuide{
        font-family: 'SVN-Gotham-Book';
        font-size: 14px;
    }
    .Icon-BuyGuide p{
        font-family: 'SVN-Gotham-Bold';
        font-size: 18px;
    }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .BG-bg-right, .BG-bg-left{
        padding-bottom: 30px !important;
        display: flex;
        flex-direction: column;
    }
    .buying-guide-img{
        width: 100%;
        object-fit: cover;
    }
    .buying-guide-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .buying-guide-info{
        width: 100%;
        padding: 30px;
        padding-bottom: 0;
        position: relative;
    }
    .Icon-BuyGuide{
        padding: 5px;
        margin-top: 40px;
    }
    .Category{
        font-family: 'SVN-Gotham-Bold';
        font-size: 16px;
        margin-bottom: 40px;
    }
    .Title-BuyGuide{
        font-family: 'SVN-Gotham-Bold';
        font-size: 24px;
        margin-bottom: 40px;
    }
    .Caption-BuyGuide{
        font-family: 'SVN-Gotham-Book';
        font-size: 14px;
    }
    .Icon-BuyGuide p{
        font-family: 'SVN-Gotham-Bold';
        font-size: 14px;
    }
}
/* Only xs */
@media (max-width: 575px) {
    .BG-bg-right, .BG-bg-left{
        padding-bottom: 30px !important;
        display: flex;
        flex-direction: column;
    }
    .buying-guide-img{
        width: 100%;
        object-fit: cover;
    }
    .buying-guide-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .buying-guide-info{
        width: 100%;
        padding: 20px;
        padding-bottom: 0;
        position: relative;
    }
    .Icon-BuyGuide{
        padding: 5px;
        margin-top: 40px;
    }
    .Category{
        font-family: 'SVN-Gotham-Bold';
        font-size: 16px;
        margin-bottom: 40px;
    }
    .Title-BuyGuide{
        font-family: 'SVN-Gotham-Bold';
        font-size: 22px;
        margin-bottom: 40px;
    }
    .Caption-BuyGuide{
        font-family: 'SVN-Gotham-Book';
        font-size: 14px;
    }
    .Icon-BuyGuide p{
        font-family: 'SVN-Gotham-Bold';
        font-size: 14px;
    }
}





/* Bán Footer
================================================================ */
/**************  We are here to help  ****************/
#bg-help{
    background-color: var(--primary-color);
    padding: 70px 0;
  }
  .help-header{
    text-align: center;
  }
  .help-content p{
    padding:0;
    margin: 0;
  }
  .help-content p a{
    color: var(--background-color);
    text-decoration: underline;
  }
  /* Only xl */
  @media (min-width: 1200px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 48px;
      color: var(--background-color);
    }
    .help-header img{
      width: 103px;
      height: 103px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 42px;
      color: var(--background-color);
    }
    .help-header img{
      width: 100px;
      height: 101px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
  }
  /* Only md */
  @media (min-width: 768px) and (max-width: 991px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 36px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 16px;
    }
  }
  /* Only sm */
  @media (min-width: 576px) and (max-width: 767px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 32px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
  }
  /* Only xs */
  @media (max-width: 575px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 28px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
  }
  /**************  We are here to help  ****************/
  
  /**************   Sign up to receive 10% off ****************/
  #KM{
    display: flex;
    position: relative;
  }
  .KM-Title{
    font-family: 'SVN-Gotham-Bold';
    font-size: 29px;
    color: var(--primary-color);
  }
  .KM-Caption{
    font-family: 'SVN-Gotham-Bold';
    font-size: 15px;
    color: var(--primary-color);
  }
  .KM-info button{
    display: flex;
    justify-content: space-around;
    width: 220px;
  }
  .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Only xl */
  @media (min-width: 1200px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only md */
  @media (min-width: 768px) and (max-width: 991px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only sm */
  @media (min-width: 576px) and (max-width: 767px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only xs */
  @media (max-width: 575px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Bán Footer
  ================================================================ */