/* Header
______________ */
.bg-header-gift{
    background-color: var(--primary-color-300);
    padding: 60px 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'SVN-Gotham-Bold';
}
.bg-header-gift p{
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: -1px;
}
/* Only xl */
@media (min-width: 1200px) {
    .bg-header-gift{
        font-size: 55px;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .bg-header-gift{
        font-size: 50px;
    }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
    .bg-header-gift{
        font-size: 42px;
    }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .bg-header-gift{
        font-size: 38px;
    }
}
/* Only xs */
@media (max-width: 575px) {
    .bg-header-gift{
        font-size: 28px;
    }
}
/* Header
______________ */




/* gift-1
_________________________ */
.gift-column-1{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}
#bg-gift-1 .col-xl-4{
    padding: 0;
}
.gift-content-1-left, .gift-content-1-center, .gift-content-1-right{
    background-color: var(--primary-color-100);
}
.gift-img-1-left img{
    height: 100%;
}
p.title-gift{
    padding: 0;
    margin: 0;
    font-family: 'SVN-Gotham-Bold';
    color: var(--primary-color);
}

.caption-gift{
    font-family: 'SVN-Gotham-Regular';
    color: var(--primary-color-300);
    margin: 10px 0;
}
a.link-gift{
    font-family: 'SVN-Gotham-Regular';
    text-decoration: none;
    color: var(--primary-color-300);

    display: flex;
    gap: 20px;
    align-items: center;
}

a.link-gift p{
    padding: 0;
    margin: 0;
}
a.link-gift i{
    margin-top: 10px;
}
/* Sắp xếp thứ tự */
.gift-content-1-left{
    order: 0;
}
.gift-content-1-center{
    order: 1;
}
.gift-content-1-right{
    order: 0;
}
.gift-img-1-left{
    order: 1;
}
.gift-img-1-center{
    order: 0;
}
.gift-img-1-right{
    order: 1;
}
/* Only xl */
@media (min-width: 1200px) {
    p.title-gift{
        font-size: 28px;
    }
    .caption-gift{
        font-size: 18px;

    }
    a.link-gift{
        font-size: 18px;
    }
    .gift-content-1-left, .gift-content-1-center, .gift-content-1-right{
        padding: 30px;
    }
    .gift-content-1-left{
        padding-left: 40px;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    p.title-gift{
        font-size: 26px;
    }
    .caption-gift{
        font-size: 15px;

    }
    a.link-gift{
        font-size: 15px;
    }
    .gift-content-1-left, .gift-content-1-center, .gift-content-1-right{
        padding: 20px;
    }
    .gift-content-1-left{
        padding-left: 30px;
    }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
    p.title-gift{
        font-size: 24px;
    }
    .caption-gift{
        font-size: 14px;

    }
    a.link-gift{
        font-size: 12px;
    }
    .gift-content-1-left, .gift-content-1-center, .gift-content-1-right{
        padding: 10px;
    }
    .gift-content-1-left{
        padding-left: 20px;
    }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .gift-content-1-left, .gift-content-1-center, .gift-content-1-right{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    p.title-gift{
        text-wrap: nowrap;
        font-size: 28px;
    }
    .caption-gift{
        font-size: 18px;
        text-wrap: nowrap;
    }
    a.link-gift{
        font-size: 15px;
    }
    /* Sắp xếp thứ tự */
    .gift-content-1-left{
        order: 0;
    }
    .gift-content-1-center{
        order: 0;
    }
    .gift-content-1-right{
        order: 0;
    }
    .gift-img-1-left{
        order: 1;
    }
    .gift-img-1-center{
        order: 1;
    }
    .gift-img-1-right{
        order: 1;
    }
}
/* Only xs */
@media (max-width: 575px) {
    .gift-content-1-left, .gift-content-1-center, .gift-content-1-right{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    p.title-gift{
        text-wrap: nowrap;
        font-size: 28px;
    }
    .caption-gift{
        text-wrap: nowrap;
    }
    a.link-gift{
        font-size: 15px;
    }
    .gift-content-1-left{
        order: 0;
    }
    .gift-content-1-center{
        order: 0;
    }
    .gift-content-1-right{
        order: 0;
    }
    .gift-img-1-left{
        order: 1;
    }
    .gift-img-1-center{
        order: 1;
    }
    .gift-img-1-right{
        order: 1;
    }
}
/* gift-1
_________________________ */



/* banner
_________________________ */
.banner-text-gift{
    text-align: center;
}
.title-banner-gift{
    font-family: 'SVN-Gotham-Bold';
}
.content-banner-gift{
    font-family: 'SVN-Gotham-Book';
    margin: 20px 0;
}
/* Only xl */
@media (min-width: 1200px) {
    .banner-text-gift{
        padding: 150px;
    }
    .title-banner-gift{
        font-size: 40px;
    }
    .content-banner-gift{
        font-size: 28px;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .banner-text-gift{
        padding: 120px;
    }
    .title-banner-gift{
        font-size: 38px;
    }
    .content-banner-gift{
        font-size: 24px;
    }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
    .banner-text-gift{
        padding: 80px;
    }
    .title-banner-gift{
        font-size: 24px;
    }
    .content-banner-gift{
        font-size: 20px;
    }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .banner-text-gift{
        padding: 70px;
    }
    .title-banner-gift{
        font-size: 26px;
    }
    .content-banner-gift{
        font-size: 20px;
    }
}
/* Only xs */
@media (max-width: 575px) {
    .banner-text-gift{
        padding: 50px;
    }
    .title-banner-gift{
        font-size: 26px;
    }
    .content-banner-gift{
        font-size: 20px;
    }
}
/* banner
_________________________ */




/* Gift Card
_________________________ */
.bg-gift-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary-color-100);
}
.Card-Img{
    width: 100%;
}

.Card-Title{
    margin-top: 20px;
    font-family: 'SVN-Gotham-Bold';
    color: var(--primary-color);
}
.Card-Content{
    font-family: 'SVN-Gotham-Book';
}
.Card-Content a{
    text-decoration: underline;
    color: var(--primary-color);
}
/* Only xl */
@media (min-width: 1200px) {
    .bg-gift-card{
        padding: 100px;
    }
    .Card-Img img{
        width: 200px;
    }
    .Card-Title{
        font-size: 52px;
    }
    .Card-Content{
        font-size: 28px;
    }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .bg-gift-card{
        padding: 90px;
    }
    .Card-Img img{
        width: 170px;
    }
    .Card-Title{
        font-size: 52px;
    }
    .Card-Content{
        font-size: 28px;
    }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
    .bg-gift-card{
        padding: 70px;
    }
    .Card-Img img{
        width: 160px;
    }
    .Card-Title{
        font-size: 40px;
    }
    .Card-Content{
        font-size: 22px;
    }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .bg-gift-card{
        padding: 50px;
    }
    .Card-Img img{
        width: 160px;
    }
    .Card-Title{
        font-size: 38px;
    }
    .Card-Content{
        font-size: 20px;
    }
}
/* Only xs */
@media (max-width: 575px) {
    .bg-gift-card{
        padding: 20px;
    }
    .Card-Img img{
        width: 140px;
    }
    .Card-Title{
        font-size: 28px;
    }
    .Card-Content{
        font-size: 16px;
    }
}
/* Gift Card
_________________________ */





/* Bán Footer
================================================================ */
/**************  We are here to help  ****************/
#bg-help{
    background-color: var(--primary-color);
    padding: 70px 0;
  }
  .help-header{
    text-align: center;
  }
  .help-content p{
    padding:0;
    margin: 0;
  }
  .help-content p a{
    color: var(--background-color);
    text-decoration: underline;
  }
  /* Only xl */
  @media (min-width: 1200px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 48px;
      color: var(--background-color);
    }
    .help-header img{
      width: 103px;
      height: 103px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 42px;
      color: var(--background-color);
    }
    .help-header img{
      width: 100px;
      height: 101px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
  }
  /* Only md */
  @media (min-width: 768px) and (max-width: 991px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 36px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 16px;
    }
  }
  /* Only sm */
  @media (min-width: 576px) and (max-width: 767px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 32px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
  }
  /* Only xs */
  @media (max-width: 575px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 28px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
  }
  /**************  We are here to help  ****************/
  
  /**************   Sign up to receive 10% off ****************/
  #KM{
    display: flex;
    position: relative;
  }
  .KM-Title{
    font-family: 'SVN-Gotham-Bold';
    font-size: 29px;
    color: var(--primary-color);
  }
  .KM-Caption{
    font-family: 'SVN-Gotham-Bold';
    font-size: 15px;
    color: var(--primary-color);
  }
  .KM-info button{
    display: flex;
    justify-content: space-around;
    width: 220px;
  }
  .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Only xl */
  @media (min-width: 1200px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only md */
  @media (min-width: 768px) and (max-width: 991px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only sm */
  @media (min-width: 576px) and (max-width: 767px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only xs */
  @media (max-width: 575px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Bán Footer
  ================================================================ */