/* BreadCrumb
============================ */
.breadcrumb{
    background-color: var(--background-color);
    margin-top: 10px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style-type: none;    
  }
  
/* Display list items side by side */
ul.breadcrumb li {
  display: block;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--primary-color);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--secondary-color-200);
  text-decoration: none;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
/* BreadCrumb
============================ */

@media (min-width: 1200px){
    .gift-img .img-fluid{
        width: 500px;
        margin-top: 40px;
    }
    .gift-text{
        margin-top: 50px;
    }
    .box-gift{
        background-color: var(--primary-color-50);
        height: 410px;
        margin-top: 80px;
        margin-bottom: 100px;
        box-shadow: var(--primary-color-100) 7px 5px 10px;
    }
    
    .box-gift h5{
        margin-left: 20px;
        padding-top: 20px;
    }
    
    .box-gift p{
        margin-left: 20px;
     
        margin-right: 20px;
        font-size: 13pt;
    }
    
    .box-gift ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
    
    }
    
    .gift-note{
        background-color: var(--primary-color-50);
        margin-top: 50px;
        box-shadow: var(--primary-color-100) 7px 5px 10px;
    }
    
    .gift-note h6{
        margin-left: 20px;
        padding-top: 20px;
    }
    .gift-note ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
.gift-img .img-fluid{
    width: 500px;
    margin-top: 40px;
}
.gift-text{
    margin-top: 50px;
}
.box-gift{
    background-color: var(--primary-color-50);
    height: 425px;
    margin-top: 80px;
    margin-bottom: 100px;
    box-shadow: var(--primary-color-100) 7px 5px 10px;
}

.box-gift h5{
    margin-left: 20px;
    padding-top: 20px;
}

.box-gift p{
    margin-left: 20px;
 
    margin-right: 20px;
    font-size: 13pt;
}

.box-gift ul li{
    padding-top: 5px;
    margin:0 60px 0px 60px;

}

.gift-note{
    background-color: var(--primary-color-50);
    margin-top: 50px;
    box-shadow: var(--primary-color-100) 7px 5px 10px;
}

.gift-note h6{
    margin-left: 20px;
    padding-top: 20px;
}
.gift-note ul li{
    padding-top: 5px;
    margin:0 60px 0px 60px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
    .gift-img .img-fluid{
        width: 500px;
        margin-top: 40px;
        margin-left: 120px;
    }
    .gift-text{
        margin-top: 20px;
    }
    .box-gift{
        background-color: var(--primary-color-50);
        height: 300px;
        box-shadow: var(--primary-color-100) 7px 5px 10px;
        margin: 40px 10px 40px 10px;
    }
    
    .box-gift h5{
        margin-left: 20px;
        padding-top: 20px;
    }
    
    .box-gift p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13pt;
    }
    
    .box-gift ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
        font-size: 11pt;
    }
    
    .gift-note{
        background-color: var(--primary-color-50);
        box-shadow: var(--primary-color-100) 7px 5px 10px;
    }
    
    .gift-note h6{
        margin-left: 20px;
        padding-top: 10px;
    }
    .gift-note ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .gift-img .img-fluid{
        width: 400px;
        margin-top: 40px;
        margin-left: 75px;
    }
    .gift-text{
        margin-top: 20px;
    }
    .box-gift{
        background-color: var(--primary-color-50);
        height: 405px;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: var(--primary-color-100) 7px 5px 10px;
    }
    
    .box-gift h5{
        margin-left: 20px;
        padding-top: 20px;
    }
    
    .box-gift p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13pt;
    }
    
    .box-gift ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
    
    }
    
    .gift-note{
        background-color: var(--primary-color-50);
        margin-top: 20px;
        box-shadow: var(--primary-color-100) 7px 5px 10px;
    }
    
    .gift-note h6{
        margin-left: 20px;
        padding-top: 10px;
    }
    .gift-note ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
    }
}
@media (max-width: 575px) {
    .gift-img .img-fluid{
        width: 350px;
        margin-top: 40px;
        margin-left: 20px;
    }
    .gift-text{
        margin-top: 20px;
    }
    .box-gift{
        background-color: var(--primary-color-50);
        height: 450px;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: var(--primary-color-100) 7px 5px 10px;
    }
    
    .box-gift h5{
        margin-left: 20px;
        padding-top: 20px;
    }
    
    .box-gift p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12pt;
    }
    
    .box-gift ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
        font-size: 11pt;
    }
    
    .gift-note{
        background-color: var(--primary-color-50);
        box-shadow: var(--primary-color-100) 7px 5px 10px;
        margin: 0 15px 0 15px;
        padding: 0;
        flex: auto;
    }

    .gift-note h6{
        margin-left: 20px;
        padding-top: 10px;
    }
    .gift-note ul li{
        padding-top: 5px;
        margin:0 60px 0px 60px;
        font-size: 11pt;
    }
}