/*linkfont*/

@font-face {
  font-family: adusian;
  src: url("../Element/Font-TrangTri/Adusian-Signature.eot");
  src: url("../Element/Font-TrangTri/Adusian-Signature.ttf");
  src: url("../Element/Font-TrangTri/Adusian-Signature.woff");
}

/*fix loi trung cua Bao*/



#back-to-top{
    z-index: 10000;
}


.chat-button {
    z-index: 10000;
}


/*====fix loi cua Bao===================*/

/*tat ef duoi md*/

/*====tat ef duoi md===================*/


                            /*dia chi*/ 

.breadcrumb {
    margin-left: -30px;
    font-family: 'SVN-Gotham-Regular';
    font-size: 14px;
    height:40px;
    background-color: #fdfcf700;
    margin-bottom: -15px;
}
.breadcrumb .home a {
    padding-right: 5px;
    color: #949D9E;
    text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
    background-color: none; /* Đặt màu nền trong suốt */
}
  
.breadcrumb .furniture {
    padding-left: 5px;
    color: #162A2C;
    background-color: transparent; /* Đặt màu nền trong suốt */
}
.separator-01{
    color: #949D9E;
}
.breadcrumb span{
  padding-right: 5px;
  padding-left: 5px;
}

/*==============dia chi============*/



.fixed-top {
    z-index: 1;
    position: fixed;
    padding:0;
    top:230px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.number {
    margin: 9px;
    padding-top: 60px;
    font-size: 12px;
    color: #9AA397;
    transition: color 0.5s;
    font-family: 'SVN-Gotham-Book';
}

.number.active {
    font-weight: bold;
    color:#162A2C;
}

#div-1 , #div-2 , #div-3 {
    height: 80vh;
    
    
}
#div-1{
    margin-top: 150px;
}
.tittle{
    
    z-index: 2;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    padding-top: 8px;
    text-align: center;
    font-family: adusian;
    color:#939D91;
    font-size: 60px;
    
}

    
    
   

.tieude h1:first-child{
    position: static;
    z-index: 1;
    text-align: center;
    margin-bottom: -40px;
    margin-top: 10px;
}
.line {
    position: absolute;
    height:240vh;
    top: 300px;
    bottom: 0;
    left: 50%;
    width: 1px; /* Độ rộng của đường thẳng */
    background-color:#162A2C;
    transform: translateX(-50%);
}
/*.line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 5px solid transparent;
    border-top-color:#162A2C;
    transform: translateX(-48%);
}*/

/*chinh noi dung*/
b-16{
    
    font-family: 'SVN-Gotham-Bold';
    color:#162A2C;
    font-size: 16px;
}
.right-panel img {
    display: block;
    margin-left: auto; /* Căn trái */
    margin-right: 0; /* Căn trái */
    max-width: 85%; /* Đảm bảo ảnh không vượt quá chiều rộng của div */
    height: auto; /* Đảm bảo ảnh giữ tỉ lệ */
 
    margin-top: -15%;
}
.right-panel{
    padding:0;
    
}
.left-panel{
    padding:0;
    margin-top: -2%;
}



/*02*/

.img-2{
    padding:0;
    margin-top: 30px;
    
}
#right-tex{
   
    text-align: right;
}
#div-2 p{
    padding-right: -30px;
}
/*03*/

#div-3{
    margin-top: 110px;
}

/*04*/
#div-4{
    background-color: #FEFCF6;
    position:relative;
    z-index: 100;
    text-align: center;
    padding:-0;
    margin:-15px;
    
}

#bg-footer{
    
    position:relative;
    z-index: 5000;
}


.img2009{
    
    padding:0;
    margin: 10px -15px 60px -15px;
    width: calc(100% + 30px); 
}

.text4 p{
    padding:30px;
}
.content4{
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* === Extra Large === */
@media (min-width: 1200px) {
    .breadcrumb {
        margin-bottom: -35px;
    }
}
/* === Large === */
@media (min-width: 992px) and (max-width: 1199px) {
  .fixed-top {
    position: fixed;
    padding:0;
    top:230px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}
    .number {
        margin:05px;
    }
    .breadcrumb {
        margin-bottom: -35px;
    }

    
}    
/* === Medium === */
@media (min-width: 768px) and (max-width: 991px) {

}
/* === Small === */
@media (min-width: 576px) and (max-width: 767px) {

}
/* === Extra Small === */
@media (max-width: 575px) {

}


  /**************   Sign up to receive 10% off ****************/
  #KM{
    display: flex;
    position: relative;
  }
  .KM-Title{
    font-family: 'SVN-Gotham-Bold';
    font-size: 29px;
    color: var(--primary-color);
  }
  .KM-Caption{
    font-family: 'SVN-Gotham-Bold';
    font-size: 15px;
    color: var(--primary-color);
  }
  .KM-info button{
    display: flex;
    justify-content: space-around;
    width: 220px;
  }
  .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Only xl */
  @media (min-width: 1200px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
      background-color: #FEFCF6;
      z-index: 6000;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
      background-color: #FEFCF6;
      z-index: 6000;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only md */
  @media (min-width: 768px) and (max-width: 991px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only sm */
  @media (min-width: 576px) and (max-width: 767px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only xs */
  @media (max-width: 575px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }

/**help **/


#bg-help{
    display:block;
    background-color: var(--primary-color);
    padding: 70px 0;
    text-align: center;
}
 
.help-content p{
    padding:0;
    margin: 0;
}
.help-content p a{
    color: var(--background-color);
    text-decoration: underline;
}
  /* Only xl */
  @media (min-width: 1200px) {
    #bg-help{
        position: relative;
        z-index: 100;
    }
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 48px;
      color: var(--background-color);
    }
    .help-header img{
      width: 103px;
      height: 103px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    #bg-help{
        position: relative;
        z-index: 100;
    }
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 42px;
      color: var(--background-color);
    }
    .help-header img{
      width: 100px;
      height: 101px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
    #bg-navi a{
      padding: 0 18px 5px 18px !important;
    }
  }
  /* Only md */
@media (min-width: 768px) and (max-width: 991px) {
    #bg-help{
      text-align: center;
      background-color: var(--primary-color);
      padding: 70px 0;
    }
   
     .help-content p{
    padding:0;
    margin: 0;
    }
     .help-content p a{
      color: var(--background-color);
      text-decoration: underline;
    }
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 36px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
.help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 16px;
    }
}
  /* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 32px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
  }
  /* Only xs */
@media (max-width: 575px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 28px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
}

/**help **/




/***md tro xuong***/
.since1997 h1:first-child{
    padding-right: 22px ;
    padding-top: 22px ;
    text-align: center;
    font-family: adusian;
    color:#939D91;
    font-size: 96px;
}

.since1997 h1:last-child{
    margin-bottom: -50px;
    padding-top: 10px;
    text-align: center;
    font-family: 'SVN-Gotham-Bold';
    color:#455556;
    font-size: 32px;
}


@media(max-width: 991px) {
  .tieude{
  height: 130px;
  
  }
  .img-1-md{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .div-1-md{
    margin: 3vh 0;
  }
  .right-panel-md{
    margin-bottom:50px;
  }
  .content-xs{
    margin-top: 70px;
  }
  .four{
    margin-bottom: 30px;
  }
}


/***xs*/

 
@media (max-width: 575px) {
  .h-xs{
    height:calc(100vh - 500px);
  }
  .nenxanh b-16{
    color: #FEFCF6;
  }
  .nenxanh{
    color: #FEFCF6;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #455556;
  }
  .four{
    margin: 0;
    background-color: #455556;
    padding-bottom: 5px;
  }
  hr{
    align-items: center;
    
    height: 1px;
    background-color: #FEFCF6;
  }
}
/**calss fix loi rot chu**/
.fix-rc-03{
  
  letter-spacing: -0.3px;
}
.fix-rc-04{
  letter-spacing: -0.4px;
}
.fix-rc-02{
  letter-spacing: -0.2px;
}
.fix-rc-1{
  letter-spacing: 0.1px;
}
.fix-rc-2{
  letter-spacing: 0.2px;
}
.fix-rc-3{
  letter-spacing: 0.3px;
}
.fix-rc-4{
  letter-spacing: 0.4px;
}
@media (min-width: 1200px) {
  .fix-rc-xl-03{
  
    letter-spacing: -0.3px;
  }
  .fix-rc-xl-04{
    letter-spacing: -0.4px;
  }
  .fix-rc-xl-02{
    letter-spacing: -0.2px;
  }
  .fix-rc-xl-1{
    letter-spacing: 0.1px;
  }
  .fix-rc-xl-2{
    letter-spacing: 0.2px;
  }
  .fix-rc-xl-3{
    letter-spacing: 0.3px;
  }
  .fix-rc-xl-4{
    letter-spacing: 0.4px;
  }
}
/* === Large === */
@media (min-width: 992px) and (max-width: 1199px) {
  .fix-rc-l-03{
  
    letter-spacing: -0.3px;
  }
  .fix-rc-l-04{
    letter-spacing: -0.4px;
  }
  .fix-rc-l-02{
    letter-spacing: -0.2px;
  }
  .fix-rc-l-1{
    letter-spacing: 0.1px;
  }
  .fix-rc-l-2{
    letter-spacing: 0.2px;
  }
  .fix-rc-l-3{
    letter-spacing: 0.3px;
  }
  .fix-rc-l-4{
    letter-spacing: 0.4px;
  }
  
}
/* === Medium === */
@media (min-width: 768px) and (max-width: 991px) {
  .fix-rc-m-03{
  
    letter-spacing: -0.3px;
  }
  .fix-rc-m-04{
    letter-spacing: -0.4px;
  }
  .fix-rc-m-02{
    letter-spacing: -0.2px;
  }
  .fix-rc-m-1{
    letter-spacing: 0.1px;
  }
  .fix-rc-m-2{
    letter-spacing: 0.2px;
  }
  .fix-rc-m-3{
    letter-spacing: 0.3px;
  }
  .fix-rc-m-4{
    letter-spacing: 0.4px;
  }
}
/* === Small === */
@media (min-width: 576px) and (max-width: 767px) {
  .fix-rc-sm-03{
  
    letter-spacing: -0.3px;
  }
  .fix-rc-sm-04{
    letter-spacing: -0.4px;
  }
  .fix-rc-sm-02{
    letter-spacing: -0.2px;
  }
  .fix-rc-sm-1{
    letter-spacing: 0.1px;
  }
  .fix-rc-sm-2{
    letter-spacing: 0.2px;
  }
  .fix-rc-sm-3{
    letter-spacing: 0.3px;
  }
  .fix-rc-sm-4{
    letter-spacing: 0.4px;
  }
  
}
/* === Extra Small === */
@media (max-width: 575px) {
  .fix-rc-s-03{
  
    letter-spacing: -0.3px;
  }
  .fix-rc-s-04{
    letter-spacing: -0.4px;
  }
  .fix-rc-s-02{
    letter-spacing: -0.2px;
  }
  .fix-rc-s-1{
    letter-spacing: 0.1px;
  }
  .fix-rc-s-2{
    letter-spacing: 0.2px;
  }
  .fix-rc-s-3{
    letter-spacing: 0.3px;
  }
  .fix-rc-s-4{
    letter-spacing: 0.4px;
  }
  
  
}

.nenxanh p{
  font-weight: 100;
  letter-spacing: -0.15px;
}




