


/* ============== Banner 1 ================== */
.banner1 #carouselExampleIndicators ol li.active{
    background-color: var(--primary-color);
}
.banner1 #carouselExampleIndicators ol li{
    background-color: var(--secondary-color);
}
.banner1 .carousel-control-next,.banner1 .carousel-control-prev{
    background-color: transparent;
    border: none;
    color: transparent;
}

/* ============== Banner 1 ================== */




/* ============== Info + Slogan ================== */
#bg-sg{
    display: flex;
    align-items: center;
    margin: 70px 0;
}

.Title_Slogan{
    font-family: 'SVN-Gotham-Book';
    color: var(--primary-color);
}
.Title_Slogan {
  padding: 0;
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .Title_Slogan{
    margin-bottom: 20px;
  }
}
.Title_Slogan p{
    font-size: 26px;
}
.Title_Slogan p span{
    font-family: 'SVN-Gotham-Bold';
}
.Slogan{
  padding: 0;  
    color: var(--primary-color);
}
.Header-Sg{
    font-family: 'SVN-Gotham-Bold';
    font-size: 23px;
}
.Content-Sg{
    width: 220px;
    font-family: 'SVN-Gotham-Book';
    font-size: 16px;
}
#sg-mobile{
    margin: 40px 0;
}
.bg-slogan-mobile{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: var(--primary-color);
}
.Info-sg-mobile{
    color: white;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
}
a.slogan-link{
    color: white;
    font-family: 'SVN-Gotham-Bold';
    text-decoration: none;
}
a.slogan-link i{
    margin-left: 20px;
}
.Header-Sg-Mobile{
    font-family: 'SVN-Gotham-Bold';
    font-size: 16px;
}
.Content-Sg-Mobile{
    font-family: 'SVN-Gotham-Book';
    font-size: 12px;
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .Content-Sg-Mobile{
    font-family: 'SVN-Gotham-Book';
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
}
/* Only xs */
@media (max-width: 575px) {
  .Content-Sg-Mobile{
    font-family: 'SVN-Gotham-Book';
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;



}
}
.Img-sg-mobile{
    width: 70%;
}
#img1{
    background-image: url(../Image/Slogan1.png);
    height: 200px;
    background-size: cover;
    background-position: center;
}
#img2{
    background-image: url(../Image/Slogan2.png);
    height: 200px;
    background-position: center;
    background-size: cover;
}
#img3{
    background-image: url(../Image/Slogan3.png);
    height: 200px;
    background-position: center;
    background-size: cover;
}
@media (min-width: 576px) and (max-width: 767px) {
    .Title_Slogan{
        text-align: center;
        margin-bottom: 40px;
    }
}
@media (max-width: 575px) {
    .Title_Slogan{
        margin-bottom: 40px;
        text-align: center;
    }
    
}
/* ============== Info + Slogan ================== */


/* ============== Cart 1 ================== */
.tranding-slider1 .header{ 
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.tranding-slider1 .header p.title{
  font-family: 'SVN-Gotham-Bold';
  font-size: 30px;
  margin: 0;
  padding: 0;  
}
.tranding-slider1 .header p.caption{
  font-family: 'SVN-Gotham-Book';
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 0; 
}
.tranding-slide1{
  background-color: var(--background-color-600);
  padding: 20px 15px;
  border-radius: 10px;
}
.card1-logo img{
  width: 130px;
  object-fit: cover;
}
.card1-img {
  margin-top: 30px;
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Thêm thuộc tính position: relative để sử dụng với ::before */
}

.card1-img img {
  position: absolute;
  top: 0; /* Đặt top là 0 để hình ảnh bắt đầu từ đầu phần tử */
  height: 100%; /* Sử dụng chiều cao 100% để hình ảnh phù hợp với phần tử cha */
  width: 100%; /* Sử dụng chiều rộng 100% để hình ảnh phù hợp với phần tử cha */
  transition: opacity 0.3s ease-in-out;
  object-fit: cover; /* Đảm bảo hình ảnh vừa với kích thước phần tử mà không bị biến dạng */
}

.card1-img:hover img {
  opacity: 0;
}
/* Change Img Product */
#card1-img1:hover::before {
  content: "";
  background-image: url('../Image/ProductSlider/Product-1/product2.jpg'); /* Thay đổi đường dẫn hình ảnh mới */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Đảm bảo hình ảnh nền vừa với phần tử */
  background-position: center; /* Đặt hình ảnh ở giữa phần tử */
}
#card1-img2:hover::before {
  content: "";
  background-image: url('../Image/ProductSlider/Product-2/2.png'); /* Thay đổi đường dẫn hình ảnh mới */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Đảm bảo hình ảnh nền vừa với phần tử */
  background-position: center; /* Đặt hình ảnh ở giữa phần tử */
}
#card1-img3:hover::before {
  content: "";
  background-image: url('../Image/ProductSlider/Product-3/1.png'); /* Thay đổi đường dẫn hình ảnh mới */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Đảm bảo hình ảnh nền vừa với phần tử */
  background-position: center; /* Đặt hình ảnh ở giữa phần tử */
}
#card1-img4:hover::before {
  content: "";
  background-image: url('../Image/ProductSlider/Product-4/2.png'); /* Thay đổi đường dẫn hình ảnh mới */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Đảm bảo hình ảnh nền vừa với phần tử */
  background-position: center; /* Đặt hình ảnh ở giữa phần tử */
}
#card1-img5:hover::before {
  content: "";
  background-image: url('../Image/ProductSlider/Product-5/2.png'); /* Thay đổi đường dẫn hình ảnh mới */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Đảm bảo hình ảnh nền vừa với phần tử */
  background-position: center; /* Đặt hình ảnh ở giữa phần tử */
}
#card1-img6:hover::before {
  content: "";
  background-image: url('../Image/ProductSlider/Product-6/2.png'); /* Thay đổi đường dẫn hình ảnh mới */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Đảm bảo hình ảnh nền vừa với phần tử */
  background-position: center; /* Đặt hình ảnh ở giữa phần tử */
}
#card1-img7:hover::before {
  content: "";
  background-image: url('../Image/ProductSlider/Product-7/2.png'); /* Thay đổi đường dẫn hình ảnh mới */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Đảm bảo hình ảnh nền vừa với phần tử */
  background-position: center; /* Đặt hình ảnh ở giữa phần tử */
}



.card1-info{
  margin-top: 70px;
}
.card1-price{
  padding: 0;
  margin: 0;
  font-family: 'SVN-Gotham-Bold';
  font-size: 16px;
  color: var(--primary-color);
}
.card1-name{
  padding: 0;
  margin: 0;
  font-family: 'SVN-Gotham-Bold';
  font-size: 20px;
  color: var(--primary-color);
}
.card1-line hr{
  width: 35%;
  border: 0.5pt solid var(--primary-color);
}
.card1-bottominfo{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card1-caption{
  width: 50%;
  color: var(--primary-color);
  font-family: 'SVN-Gotham-Light';
  font-size: 12px;
  margin-right: 10px;
}
.card1-btn{
  margin-left: 10px;
  width: 50%;
}
.card1-btn button{
  width: 100%;
}



#tranding-cart1 .tranding-slider1 {
    height: 700px;
    position: relative;
    margin-top: 50px;
  }

  .tranding-slide1 {
    width: 350px;
    height: 570px;
    position: relative;
  }

  .tranding-slider1-control {
    margin-top: 20px;
    width: 390px;
    position: relative;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width:1200px) {
    .tranding-slider1-control .swiper-button-next1 {
      left: 64%;
    }
  }
  @media (min-width:1200px) {
    .tranding-slider1-control .swiper-button-prev1 {
      left: 34%;
    }
  }
  .tranding-slider1-control .slider-arrow1 i {
    font-size: 35px;
    color: var(--primary-color);
    cursor: pointer;
  }
  .tranding-slider1-control .slider-arrow1::after {
    content: '';
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: var(--primary-color);
  }
  .tranding-slider1-control .swiper-pagination1 {
    position: relative;
    border-radius: 10px;
  }
  @media (min-width:1200px) {
    .tranding-slider1-control .swiper-pagination1{
      width: 290px;
    }
  }
/* Only lg */
#ProductCard1-mb{
  margin-bottom: 50px;
}
#ProductCard1-mb .header{ 
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}
#ProductCard1-mb .header p.title{
  font-family: 'SVN-Gotham-Bold';
  font-size: 30px;
  margin: 0;
  padding: 0;  
}
#ProductCard1-mb .header p.caption{
  font-family: 'SVN-Gotham-Book';
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0; 
}
#ProductCard1-mb .slider-wrapper {
  position: relative;
}

#ProductCard1-mb .slider-wrapper .slide-button {
  position: absolute;
  top: 60%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: var(--background-color);
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.image-item a{
  text-decoration: none;
}
#ProductCard1-mb .slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

#ProductCard1-mb .slider-wrapper .slide-button#next-slide {
  right: -25px;
}

#ProductCard1-mb .slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

#ProductCard1-mb .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

#ProductCard1-mb .slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
 
#ProductCard1-mb .slider-wrapper .image-list .image-item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#ProductCard1-mb .slider-wrapper .image-list .product-info {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: absolute; /* Add this line */
  bottom: 0px;
  color: var(--primary-color);
  background: var(--background-color-600); /* Add this line to create a white transparent background */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#ProductCard1-mb .slider-wrapper .image-list .product-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  font-family: 'SVN-Gotham-Bold';
}

#ProductCard1-mb .slider-wrapper .image-list .product-price {
  font-size: 1rem;
  margin: 5px 0 0 0;
  font-family: 'SVN-Gotham-Book';
}

#ProductCard1-mb .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

#ProductCard1-mb .slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

#ProductCard1-mb .slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

#ProductCard1-mb .slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

#ProductCard1-mb .slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

#ProductCard1-mb .slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  #ProductCard1-mb .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  #ProductCard1-mb .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  #ProductCard1-mb .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  #ProductCard1-mb .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  #ProductCard1-mb .slider-wrapper .slide-button{
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
/* Only xs */
@media (max-width: 575px) {
  #ProductCard1-mb .slider-wrapper .image-list .image-item {
    width: 240px;
    height: 350px;
  }
  #ProductCard1-mb .slider-wrapper .slide-button{
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  #ProductCard1-mb .slider-wrapper .slide-button#prev-slide{
    left: -10px;
  }
  #ProductCard1-mb .slider-wrapper .slide-button#next-slide{
    right: -10px;
  }
}
/* ====== Cart 1 ====== */


/* ============== Card 2 ================== */
/* ====== LG trở lên ====== */
#tranding{
  margin-top: 50px;
}
.tranding-slider .header{ 
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.tranding-slider .header p.title{
  font-family: 'SVN-Gotham-Bold';
  font-size: 30px;
  margin: 0;
  padding: 0;  
}
.tranding-slider .header p.caption{
  font-family: 'SVN-Gotham-Book';
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 0; 
}

#tranding .tranding-slider {
    height: 500px;
    position: relative;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    #tranding .tranding-slider{
      height: 450px !important;
    }
  }
  .tranding-slide {
    width: 350px;
    height: 350px;
    position: relative;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .tranding-slide {
      width: 300px !important;
      height: 300px !important;
    }
    .tranding-slide .tranding-slide-img img {
      width: 300px !important;
      height: 300px !important;
    }
  }
  
  
  .tranding-slide .tranding-slide-img img {
    width:350px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  
  .tranding-slide-content{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100%;
    text-align: center;
    background-color: #00000078;
    transform: translateX(-50%);
    color: white;
    font-family: 'SVN-Gotham-Bold';
    padding: 5px 0;
  }
  .tranding-slide-content p{
    margin: 0;
    padding: 0;
  }
  .tranding-slider-control {
    margin-top: 20px;
    position: relative;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width:1200px) {
    .tranding-slider-control .swiper-button-next {
      left: 64% !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .tranding-slider-control .swiper-button-next {
      left: 62% !important;
    }
  }
  @media (min-width:1200px) {
    .tranding-slider-control .swiper-button-prev {
      left: 34% !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .tranding-slider-control .swiper-button-prev {
      left: 35% !important;
    }
  }
  .tranding-slider-control .slider-arrow i {
    font-size: 35px;
    color: var(--primary-color);
  }
  .tranding-slider-control .slider-arrow::after {
    content: '';
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: var(--primary-color);
  }
  .tranding-slider-control .swiper-pagination {
    position: relative;
    border-radius: 10px;
  }
  @media (min-width:1200px) {
    .tranding-slider-control .swiper-pagination{
      width: 290px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .tranding-slider-control .swiper-pagination{
      width: 210px;
    }
  }
/* ====== LG trở lên ====== */



/* ====== Phiên bản còn lại ====== */
/* Image Prallax */
.img-prallax{
  margin-bottom: 70px;

}
.img-prallax .container{
    height: 400px;
    aspect-ratio: 1.5 / 1;
    display: flex;
    overflow: hidden;
}
.imgzoom:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.imgzoom:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container:has(.imgzoom.active) .imgzoom:not(.active){
    filter: grayscale(100%)
}

.imgzoom{
    height: 100%;
    width: calc(100% / 5);
    object-fit: cover;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.32, 0, 0.67, 0);
    cursor: pointer;
}

.img-prallax .active{
    width: 200%;
}

.img-prallax .header{ 
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.img-prallax .header p.title{
  font-family: 'SVN-Gotham-Bold';
  font-size: 30px;
  margin: 0;
  padding: 0;  
}
.img-prallax .header p.caption{
  font-family: 'SVN-Gotham-Book';
  font-size: 18px;
  margin: 0;
  padding: 0; 
}
/* Image Prallax */




/* Image Grid */
.bg-imggrid .header{
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.bg-imggrid .header p.title{
  font-family: 'SVN-Gotham-Bold';
  font-size: 30px;
  margin: 0;
  padding: 0;  
}
.bg-imggrid .header p.caption{
  font-family: 'SVN-Gotham-Book';
  font-size: 18px;
  margin: 0;
  padding: 0; 
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 60px);
  grid-gap: 10px; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  
  .gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  
  .gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 9;
  }
  
  .gallery__item--4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  .gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
  }
}
/* Image Grid */
/* ====== Phiên bản còn lại ====== */
/* ============== Card 2 ================== */
  

/* ============== Banner2 ================== */
#bg-banner2 {
  margin: 70px 0;
  position: relative;
}
#bg-banner2 .content-image {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#bg-banner2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Only xl */
@media (min-width: 1200px) {
  #bg-banner2 .content-image p {
    width: 370px;
    font-family: 'SVN-Gotham-Bold';
    font-size: 35px;
  }
  button.btn-banner2{
    width: 150px;
    height: 60px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  #bg-banner2 .content-image p {
    width: 370px;
    font-family: 'SVN-Gotham-Bold';
    font-size: 30px; 
  }
  button.btn-banner2{
    width: 125px;
    height: 50px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  #bg-banner2 .content-image p {
    width: 370px;
    font-family: 'SVN-Gotham-Bold';
    font-size: 25px; 
  }
  button.btn-banner2{
    width: 115px;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  
  #bg-banner2 .content-image p {
    width: 250px;
    font-family: 'SVN-Gotham-Bold';
    font-size: 20px; 
  }
  button.btn-banner2{
    width: 115px;
  }
}
/* Only xs */
@media (max-width: 575px) {
  #bg-banner2 .content-image p {
    width: 200px;
    font-family: 'SVN-Gotham-Bold';
    font-size: 20px; 
  }
  button.btn-banner2{
    width: 115px;
  }
}
/* ============== Banner2 ================== */



/**************  Text Loop  ****************/
.text-wrapper{
  justify-content: center;
  display: flex;
  overflow: hidden;
}
.text-animation{
  color: var(--primary-color);
  white-space: nowrap;
  letter-spacing: 1px;
  animation: move-rtl 19s linear infinite;
  font-family: 'SVN-Gotham-Bold';
  font-weight: bold;
  margin-bottom: 30px;
}
@keyframes move-rtl{
  from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(calc(-100% ));
    }
}

/* Only xl */
@media (min-width: 1200px) {
  .text-animation{
    font-size: 48px;
    padding: 0 50px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .text-animation{
    font-size: 40px;
    padding: 0 40px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .text-animation{
    font-size: 36px;
    padding: 0 30px;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .text-animation{
    font-size: 32px;
    padding: 0 25px;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .text-animation{
    font-size: 28px;
    padding: 0 15px;
  }
}
/**************  Text Loop  ****************/




/**************  Our Insights & Articles  ****************/
#bg-art{
  margin-top: 70px;
  margin-bottom: 90px;
}
.art-title p{
  font-family: 'SVN-Gotham-Bold';
  font-size:28px;
  color: var(--secondary-color);
}
.art-card{
  width: 350px;
  background-color: var(--background-color);
  position: relative;
}

.art-info{
  padding-top: 35px;
}


.date, .add{
  display: flex;
  gap: 5px;
}
.date span, .add span{
  font-family: 'SVN-Gotham-Book';
  font-size: 14px;
}
/* Only xl */
@media (min-width: 1200px) {
  .date-add{
    display: flex;
    justify-content: space-between;
  }
  .art-img img{
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .art-btn button{
    width: 130px;
    position: absolute;
    top: 45%;
    left: 10%;
  }
  .art-info p{
    font-family: 'SVN-Gotham-Regular';
    font-size: 14px;
    height: 90px;
  }
  .art-card{
    height: 450px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .date-add{
    display: flex;
    justify-content: space-between;
  }
  .art-img img{
    width: 100%;
    height: 190px;
    object-fit: cover;
  }
  .art-btn button{
    width: 130px;
    position: absolute;
    top: 38%;
    left: 10%;
  }
  .art-info p{
    font-family: 'SVN-Gotham-Regular';
    font-size: 14px;
    height: 110px;
  }
  .art-card{
    height: 430px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .date{
    justify-content: center;
  }
  .add{
    justify-content: center;
  }
  .art-img img{
    width: 100%;
    height: 138px;
    object-fit: cover;
  }
  .art-btn button{
    padding: 0;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 32%;
    left: 29%;
    font-size: 12px;
  }
  .art-info p{
    font-family: 'SVN-Gotham-Regular';
    font-size: 12.5px;
    height: 110px;
  }
  .art-card{
    height: 370px;
  }
}


/* === Art MB === */
.art-card-mb{
  position: relative;
}
.art-title-mb p{
  font-family: 'SVN-Gotham-Bold';
  font-size: 24px;
  color: var(--secondary-color);
  text-align: center;
}
.art-btn-mb button{
  position: absolute;
  width: 130px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
}
.art-info-mb{
  color: white;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--primary-color);
}
.art-info-mb p{
  text-align: center;
  font-family: 'SVN-Gotham-Book';
  height: 160px;
}
/* Only xs */
@media (max-width: 575px) {
  .art-info-mb p{
    font-size: 13px;
  }
}
.date-add-mb{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.date-mb, .add-mb{
  display: flex;
  gap: 10px;
}
.date-mb span, .add-mb span{
  font-family: 'SVN-Gotham-Book';
  font-size: 12px;
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .art-img-mb img{
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
  .art-btn-mb button{
    top: 51%;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .art-img-mb img{
    width: 100%;
    height: 250px;
    object-fit: cover;

  }
  .art-btn-mb button{
    top: 44%;
  }
}
/* === Art MB === */
/**************  Our Insights & Articles  ****************/





/**************  Shop By Brand  ****************/
#bg-sbb {
  background-color: #E7E5E0;
  padding: 40px 0;
}
.sbb-img img {
  height: 30px;
  object-fit: contain;
}

.sbb-title {
  font-family: 'SVN-Gotham-Bold';
  text-align: left;
  color: var(--secondary-color);
  margin-bottom: 30px;
}
/* Only xl */
@media (min-width: 1200px) {
  .sbb-title{
    font-size: 30px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .sbb-title{
    font-size: 30px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .sbb-title{
    font-size: 30px;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .sbb-title{
    font-size: 26px;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .sbb-title{
    font-size: 24px;
  }
}
.sbb-header {
  display: flex; /* Sử dụng Flexbox */
  justify-content: space-between; /* Căn đều 2 phần tử */
  align-items: center; /* Căn giữa theo chiều dọc */
  width: 100%; /* Chiếm toàn bộ chiều rộng của container */
  position: relative; /* Để các mũi tên có thể căn chỉnh dễ dàng */
}

.title-text {
  flex-grow: 1; /* Để phần tử title chiếm toàn bộ không gian còn lại */
}

.mui-ten {
  display: flex; /* Sử dụng Flexbox cho các mũi tên */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.mui-ten .arrow {
  cursor: pointer;
  font-size: 20pt;
  margin-bottom: 5px;
}

.mui-ten .left-arrow {
  margin-right: 10px; /* Khoảng cách giữa các mũi tên */
}

.mui-ten .right-arrow {
  margin-left: 10px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .mui-ten .arrow {
    font-size: 15pt;
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .mui-ten .arrow {
    font-size: 15pt;
  }
}
/**************  Shop By Brand  ****************/

/* Bán Footer
================================================================ */
/**************  We are here to help  ****************/
#bg-help{
  background-color: var(--primary-color);
  padding: 70px 0;
}
.help-header{
  text-align: center;
}
.help-content p{
  padding:0;
  margin: 0;
}
.help-content p a{
  color: var(--background-color);
  text-decoration: underline;
}
/* Only xl */
@media (min-width: 1200px) {
  .help-header p{
    font-family: 'SVN-Gotham-Bold';
    font-size: 48px;
    color: var(--background-color);
  }
  .help-header img{
    width: 103px;
    height: 103px;
  }
  .help-content{
    color: var(--background-color);
    text-align: center;
    font-family: 'SVN-Gotham-Bold';
    font-size: 18px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .help-header p{
    font-family: 'SVN-Gotham-Bold';
    font-size: 42px;
    color: var(--background-color);
  }
  .help-header img{
    width: 100px;
    height: 101px;
  }
  .help-content{
    color: var(--background-color);
    text-align: center;
    font-family: 'SVN-Gotham-Bold';
    font-size: 18px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .help-header p{
    font-family: 'SVN-Gotham-Bold';
    font-size: 36px;
    color: var(--background-color);
  }
  .help-header img{
    width: 80px;
    height: 80px;
  }
  .help-content{
    color: var(--background-color);
    text-align: center;
    font-family: 'SVN-Gotham-Bold';
    font-size: 16px;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .help-header p{
    font-family: 'SVN-Gotham-Bold';
    font-size: 32px;
    color: var(--background-color);
  }
  .help-header img{
    width: 80px;
    height: 80px;
  }
  .help-content{
    color: var(--background-color);
    text-align: center;
    font-family: 'SVN-Gotham-Bold';
    font-size: 14px;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .help-header p{
    font-family: 'SVN-Gotham-Bold';
    font-size: 28px;
    color: var(--background-color);
  }
  .help-header img{
    width: 80px;
    height: 80px;
  }
  .help-content{
    color: var(--background-color);
    text-align: center;
    font-family: 'SVN-Gotham-Bold';
    font-size: 15px;
  }
}
/**************  We are here to help  ****************/

/**************   Sign up to receive 10% off ****************/
#KM{
  display: flex;
  position: relative;
}
.KM-Title{
  font-family: 'SVN-Gotham-Bold';
  font-size: 28px;
  color: var(--primary-color);
}
.KM-Caption{
  font-family: 'SVN-Gotham-Bold';
  font-size: 14px;
  color: var(--primary-color);
}
.KM-info button{
  display: flex;
  justify-content: space-around;
  width: 220px;
}
.KM-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Only xl */
@media (min-width: 1200px) {
  .KM-img{
    position: absolute;    
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }
  .bg-kmall{
    display: flex;
    padding: 100px 0;
  }
  .KM-info{
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 50px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .KM-img{
    position: absolute;    
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }
  .bg-kmall{
    display: flex;
    padding: 100px 0;
  }
  .KM-info{
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 50px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .bg-kmall{
    display: flex;
    padding: 50px 0;
  }
  .KM-img{
    width: 100%;
    height: 300px;
  }
  .KM-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  #KM{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .KM-info {
    text-align: center; /* Căn giữa văn bản */
  }
  .KM-Btn{
    display: flex;
    justify-content: center;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .bg-kmall{
    display: flex;
    padding: 50px 0;
  }
  .KM-img{
    width: 100%;
    height: 300px;
  }
  .KM-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  #KM{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .KM-info {
    text-align: center; /* Căn giữa văn bản */
  }
  .KM-Btn{
    display: flex;
    justify-content: center;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .bg-kmall{
    display: flex;
    padding: 50px 0;
  }
  .KM-img{
    width: 100%;
    height: 300px;
  }
  .KM-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  #KM{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .KM-info {
    text-align: center; /* Căn giữa văn bản */
  }
  .KM-Btn{
    display: flex;
    justify-content: center;
  }
}
/* Bán Footer
================================================================ */


/* Other */
/* Only xl */
@media (min-width: 1200px) {
  .fix-rot{
    display: flex;
    gap: 20px ;
  }
  .View-all-concept a button{
    font-size: 18px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .fix-rot{
    display: flex;
    gap: 20px ;
  }
  .View-all-concept a button{
    font-size: 18px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .View-all-concept a button{
    font-size: 16px;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .View-all-concept a button{
    font-size: 16px;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .View-all-concept a button{
    font-size: 16px;
  }
}
.Header-Cus p{
  margin: 0;
  padding: 0;
}
#DiningRoom-1{
  margin-top: 20px;
}
.Header-Cus .title{
  font-family: 'SVN-Gotham-Bold';
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.Header-Cus .caption{
  font-family: 'SVN-Gotham-Book';
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 0;
}
/* Other */







