/* BreadCrumb
================== */
.breadcrumb{
    background-color: var(--background-color);
    margin-top: 10px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style-type: none;    
  }
  
/* Display list items side by side */
ul.breadcrumb li {
  display: block;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--primary-color);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--secondary-color-200);
  text-decoration: none;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
/* BreadCrumb
================== */



/* Content
================== */
.made-bg{
    background-color: #D9D9D9;
    height: fit-content;
    width: 100%;
    border-radius: 50px;
    padding: 0;
    padding: 40px 0;
    padding-bottom: 0;
}
.made-title{
    font-family: 'SVN-Gotham-Bold';
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}
.bg-made-content{
    margin: 50px 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.made-content-text p{
    font-family: 'SVN-Gotham-Bold';
    font-size: 30px;
    padding: 0;
    margin-bottom: 20px;
    line-height: 50px;
}
.made-content-text div{
    font-size: 16px;
    font-family: 'SVN-Gotham-Book';
}
.made-content-img{
    height: 480px;
    object-fit: cover;
}
.made-content-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}
.bg-made-content-detail{
    background-color: var(--background-color);
    padding: 100px 100px;
}
.bg-made-content-detail{
    text-align: center;
}
.bg-made-content-detail p{
    padding: 0;
    margin: 0;
    font-family: 'SVN-Gotham-Bold';
    font-size: 24px;
}
.bg-made-content-detail div{
    font-family: 'SVN-Gotham-Book';
    font-size:  18px;
}
.Nummber_circle{
    width: 70px;
    height:70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.Nummber_circle p{
    padding: 0;
    margin: 0;
    color: var(--background-color);
    font-size: 40px;
}
.bg-made-content-special{
    background-color: #EEEEED;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-made-content-special:last-child{
    padding-bottom: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.DoanVan{
    margin-bottom: 30px;
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
    .made-content-text{
        margin-top: 20px;
        margin-bottom:20px;
    }
    .Nummber_circle{
        margin-bottom: 5px;
    }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
    .made-content-text{
        margin-top: 20px;
        margin-bottom:20px;
    }
    .Nummber_circle{
        margin-bottom: 5px;
    }
    .made-title{
        font-family: 'SVN-Gotham-Bold';
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
    }
    .bg-made-content-detail p{
        padding: 0;
        margin: 0;
        font-family: 'SVN-Gotham-Bold';
        font-size: 22px;
    }
    .bg-made-content-detail div{
        font-family: 'SVN-Gotham-Book';
        font-size:  16px;
    }
}
/* Only xs */
@media (max-width: 575px) {
    .made-content-text{
        margin-top: 20px;
        margin-bottom:20px;
    }
    .Nummber_circle{
        margin-bottom: 5px;
    }
    .made-title{
        font-family: 'SVN-Gotham-Bold';
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
    }
    .bg-made-content-detail p{
        padding: 0;
        margin: 0;
        font-family: 'SVN-Gotham-Bold';
        font-size: 22px;
    }
    .bg-made-content-detail div{
        font-family: 'SVN-Gotham-Book';
        font-size:  16px;
    }
}