/* Breadcrumb
==================== */
.breadcrumb{
    background-color: var(--background-color);
    margin-top: 10px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style-type: none;    
  }
  
/* Display list items side by side */
ul.breadcrumb li {
  display: block;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--primary-color);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--secondary-color-200);
  text-decoration: none;
  font-family: 'SVN-Gotham-Regular' ;
  font-size: 10pt;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
/* Breadcrumb
==================== */


/* Doan1 bg-content-left 
--------- */
.personal-title{
    margin-top: 40px;
    font-family: 'SVN-Gotham-Bold';
    color: var(--secondary-color);
}
.personal-caption{
    font-family: 'SVN-Gotham-Bold';
    color: var(--secondary-color-600);
    margin: 50px 0; 
}
.personal-img{
    width: 100%;
    object-fit: cover;
}
.personal-img img{
    width: 100%;
}
/* Doan1 bg-content-left 
--------- */



/* Doan1 bg-content-right
--------- */
.bg-content-right{
    margin-top: 140px;
}
.personal-text-1{
    font-family: 'SVN-Gotham-Bold';
    font-size: 18px;
    color: var(--secondary-color-700);
}
.personal-text-2{
    font-family: 'SVN-Gotham-Book';
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.personal-title-right{
    font-family: 'SVN-Gotham-Bold';
    color: var(--secondary-color-400);
    font-size: 30px;
    margin-bottom: 30px;
}
.personal-text-3{
    font-family: 'SVN-Gotham-Bold';
    font-size: 20px;
    color: var(--secondary-color);
}
.text-3-content{
    margin: 40px 0;
}
.text-3-footer{
    font-family: 'SVN-Gotham-Bold';
    color: var(--secondary-color);
    font-size: 22px;
}
/* Doan1 bg-content-right
--------- */




/* Banner
--------- */
.personal-banner{
    margin: 100px 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.personal-banner img{
    width: 100%;
} 
#Overlay-Banner{
    width: 95%;
    padding: 10px 20px;
    background-color: #5c5c5c7e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Content-Overlay{
    font-family: 'SVN-Gotham-Bold';
    color: white;
}
#Overlay-Banner button.button-line{
    color: white;
    border: 2pt solid white;
    margin-top: 20px;
}
#Overlay-Banner button.button-line:hover{
    background-color: #0000007e;
    border: none;
}
/* Banner
--------- */
/* Only xl */
@media (min-width: 1200px) {
  .Content-Overlay{
    font-size: 28px;
  }
  #Overlay-Banner{
    height: 45%; 
  }
  #Overlay-Banner button.button-line{
    width: 350px;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .Content-Overlay{
    font-size: 24px;
  }
  #Overlay-Banner{
    height: 50%; 
  }
  #Overlay-Banner button.button-line{
    width: 250px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .Content-Overlay{
    font-size: 18px;
  }
  #Overlay-Banner{
    height: 55%; 
  }
  #Overlay-Banner button.button-line{
    width: 250px;
  }
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .Content-Overlay{
    font-size: 16px;
  }
  #Overlay-Banner{
    height: 60%; 
  }
  #Overlay-Banner button.button-line{
    width: 250px;
  }
}
/* Only xs */
@media (max-width: 575px) {
  .Content-Overlay{
    font-size: 12px;
  }
  #Overlay-Banner{
    height: 70%; 
  }
  #Overlay-Banner button.button-line{
    width: 200px;
  }
}



/* Doan2
------------------------------------------- */
.bg-content-left-doan2{
    margin-top: 100px;
}
.bg-content-left-doan2 img{
  width: 100%;
  object-fit: cover;
}
.personal-title-doan2{
    font-family: 'SVN-Gotham-Bold';
    font-size: 52px;
    color: var(--secondary-color);
}
.personal-caption-doan2{
    font-family: 'SVN-Gotham-Regular';
    font-size: 22px;
    margin-top: 50px;
}
.personal-title-nho-doan2{
    font-family: 'SVN-Gotham-Bold';
    font-size: 22px;
    margin: 20px 0;
}
.personal-list{
    margin-left: 22px;
    font-family: 'SVN-Gotham-Regular';
}
.personal-list li{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Doan2
----------------------------------------- */

/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .personal-title-doan2{
    font-size: 38px;
  }
}
/* Only md */
@media (min-width: 768px) and (max-width: 991px) {
  .bg-content-right{
    margin-top: 30px;
}
.personal-caption{
  margin: 10px 0;
}
.personal-title-doan2{
  font-size: 42px;
}
.personal-caption-doan2{
  margin-top: 20px;
}
}
/* Only sm */
@media (min-width: 576px) and (max-width: 767px) {
  .bg-content-right{
    margin-top: 30px;
}
.personal-caption{
  margin: 10px 0;
}
.personal-title-doan2{
  font-size: 42px;
}
.personal-caption-doan2{
  margin-top: 20px;
}
}
/* Only xs */
@media (max-width: 575px) {
  .bg-content-right{
    margin-top: 20px;
}
.personal-caption{
  margin: 10px 0;
}
.personal-title-doan2{
  font-size: 42px;
}
.personal-caption-doan2{
  margin-top: 20px;
}
}

/* FAQS
======================================== */
.bg-FAQS{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 90px 0;
}
.bg-FAQS h1{
    font-size: 52px;
    margin-bottom: 40px;
    color: var(--primary-color);
    font-family: 'SVN-Gotham-Bold';

}
.FAQS-1,.FAQS-2,.FAQS-3,.FAQS-4{
    margin: 20px 0;
}
.FAQS-title{
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-size: 22px;
    font-family: 'SVN-Gotham-Bold';
}
.FAQS-Content{
    color: var(--primary-color-600);
    font-size: 22px;
    font-family: 'SVN-Gotham-Regular';
}
/* FAQS
======================================== */





/* Bán Footer
================================================================ */
/**************  We are here to help  ****************/
#bg-help{
    background-color: var(--primary-color);
    padding: 70px 0;
  }
  .help-header{
    text-align: center;
  }
  .help-content p{
    padding:0;
    margin: 0;
  }
  .help-content p a{
    color: var(--background-color);
    text-decoration: underline;
  }
  /* Only xl */
  @media (min-width: 1200px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 48px;
      color: var(--background-color);
    }
    .help-header img{
      width: 103px;
      height: 103px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 42px;
      color: var(--background-color);
    }
    .help-header img{
      width: 100px;
      height: 101px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 18px;
    }
  }
  /* Only md */
  @media (min-width: 768px) and (max-width: 991px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 36px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 16px;
    }
  }
  /* Only sm */
  @media (min-width: 576px) and (max-width: 767px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 32px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
  }
  /* Only xs */
  @media (max-width: 575px) {
    .help-header p{
      font-family: 'SVN-Gotham-Bold';
      font-size: 28px;
      color: var(--background-color);
    }
    .help-header img{
      width: 80px;
      height: 80px;
    }
    .help-content{
      color: var(--background-color);
      text-align: center;
      font-family: 'SVN-Gotham-Bold';
      font-size: 14px;
    }
  }
  /**************  We are here to help  ****************/
  
  /**************   Sign up to receive 10% off ****************/
  #KM{
    display: flex;
    position: relative;
  }
  .KM-Title{
    font-family: 'SVN-Gotham-Bold';
    font-size: 29px;
    color: var(--primary-color);
  }
  .KM-Caption{
    font-family: 'SVN-Gotham-Bold';
    font-size: 15px;
    color: var(--primary-color);
  }
  .KM-info button{
    display: flex;
    justify-content: space-around;
    width: 220px;
  }
  .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Only xl */
  @media (min-width: 1200px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only lg */
  @media (min-width: 992px) and (max-width: 1199px) {
    .KM-img{
      position: absolute;    
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }
    .bg-kmall{
      display: flex;
      padding: 100px 0;
    }
    .KM-info{
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 50px;
    }
  }
  /* Only md */
  @media (min-width: 768px) and (max-width: 991px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only sm */
  @media (min-width: 576px) and (max-width: 767px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Only xs */
  @media (max-width: 575px) {
    .bg-kmall{
      display: flex;
      padding: 50px 0;
    }
    .KM-img{
      width: 100%;
      height: 300px;
    }
    .KM-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    #KM{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .KM-info {
      text-align: center; /* Căn giữa văn bản */
    }
    .KM-Btn{
      display: flex;
      justify-content: center;
    }
  }
  /* Bán Footer