/*linkfont*/
@font-face {
  font-family: adusian;
  src: url("../Element/Font-TrangTri/Adusian-Signature.eot");
  src: url("../Element/Font-TrangTri/Adusian-Signature.ttf");
  src: url("../Element/Font-TrangTri/Adusian-Signature.woff");
}


/*.custom-gutter {
  margin-right: -8px;
  margin-left: -8px;
}
.custom-gutter > .col-xl-2 {
  padding-right: 8px;
  padding-left: 8px;
}*/

.product-image{
  height:400px;
  object-fit: cover;
  
}


.text-box{
  padding:0;
  
}
#img-long{
  
  right: 20%;
}

.ifteam{
  font-family: 'SVN-Gotham-Bold';
  font-size: 16px;
  padding: 180px 10px 0 10px;
  color:#162A2C;
  
}
.st{
  font-family: 'SVN-Gotham-Book';
  font-size: 14px;
  padding: 0 10px 0 10px;
  color:#162A2C;
}
.chucvu{
  font-family: 'SVN-Gotham-Light';
  font-size: 16px;
  margin-top: -10px;
  padding: 0 10px 20px 10px;
  color:#162A2C;
}
/*  Image Overlay
------------------------------------------------------------- */
/* .text-box {
  width: 100%;
  
} */

.image-overlay {
  cursor: pointer;
  padding: 0;
  position: relative;
}

.image-overlay .product-image {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.image-overlay .product-image img {
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
  padding: 0;
  margin: 0;
}

.box-slide {
 
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  color: var(--bs-dark);
  transition: transform 0.6s ease-in-out;
  width: 100%;
}

.image-overlay:hover .box-slide {
  transform: translateY(0%);
  
}

.image-overlay:hover img {
  transform: translateY(100%);

}

.text-content {
  background-color:#EFF0EF!important;
  bottom:0;
  height:400px;
  padding: 0!important; /* Loại bỏ padding */
}


.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/*dia chi*/

.breadcrumb {
  font-family: 'SVN-Gotham-Regular';
  font-size: 14px;
  height:40px;
  background-color: #fdfcf700;
  margin-bottom: 15px;
}
.breadcrumb .home a {
  padding-right: 5px;
  color: #949D9E;
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  background-color: none; /* Đặt màu nền trong suốt */
}

.breadcrumb .furniture {
  padding-left: 5px;
  color: #162A2C;
  background-color: transparent; /* Đặt màu nền trong suốt */
}
.separator-01{
  color: #949D9E;
}

/*tieu de */

.join{
  margin-top: 50px;
  text-align: center;
}
.aus{
  font-family: 'SVN-Gotham-Bold';
  color:#162A2C;
  font-size: 52px;
}
.tittle{
  font-family: adusian;
  color:#939D91;
  font-size: 96px;
  margin-top: -8px;
  
}

.harmony{
  margin-top: -20px;
  font-family: 'SVN-Gotham-Bold';
  color:#455556;
  font-size: 24px;
  margin-bottom: 20px;
}

.tl{
  font-family: 'SVN-Gotham-Bold';
  color:#637072;
  font-size: 44px;
  padding-top: 80%;
}

.leader{
  margin-top: 28px;
  padding-right: 10px;
}
.hinhleader{
  position: absolute;
  right:10px;
}
.teamour{
  margin-bottom: 50px;
}
.bao{
  font-family: 'SVN-Gotham-Bold';
  color:#162A2C;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .bg-01{
    display:none;
  }
  .harmony{
    margin:0;
    padding:0;
  }
}
/* Only lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .text-content {
    background-color:#EFF0EF!important;
    bottom:0;
    height:350px;
    padding: 0!important; /* Loại bỏ padding */
  }
  .product-image{
    height:350px;
    object-fit: cover;
    
  }
  .ifteam{
    font-family: 'SVN-Gotham-Bold';
    font-size: 14px;
    padding: 140px 5px 0 5px;
    color:#162A2C;
    
  }
  .st{
    font-family: 'SVN-Gotham-Book';
    font-size: 12px;
    padding: 0 5px 0 5px;
    color:#162A2C;
  }
  .chucvu{
    font-family: 'SVN-Gotham-Light';
    font-size: 12px;
    margin-top: -10px;
    padding: 0 5px 20px 5px;
    color:#162A2C;
  }
  .bg-01{
    display:none;
  }
}
/* Only md +sm*/
@media (min-width: 576px) and (max-width: 758px) {
  
  
  .img-bg{
    
    z-index: 0;
    bottom:0;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .img-bg{
    
    z-index: 1;
    bottom:0;
  }
  .join{
    position:relative;
    z-index: 5;
    text-align: left;
  }
  
  .leaderMD{
    z-index: 5;
  }
  
  .harmony{
    margin-left: 65px;
    margin-top: -50px;
    font-family: 'SVN-Gotham-Bold';
    color:#455556;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  .breadcrumb {
    font-family: 'SVN-Gotham-Regular';
    font-size: 14px;
    height:40px;
    background-color: #e7e5e000;
    margin-bottom: 15px;
  }
  .breadcrumb .home a {
    padding-right: 5px;
    color: #949D9E;
    text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
    background-color: none; /* Đặt màu nền trong suốt */
  }
  .breadcrumb .separator {
    color: #000000; /* Màu sắc của dấu '>' nếu bạn muốn nó khác */
    background-color: transparent; /* Đặt màu nền trong suốt */
  }
  .breadcrumb .furniture {
    padding-left: 5px;
    color: #162A2C;
    background-color: transparent; /* Đặt màu nền trong suốt */
  }
  .tl{
    font-family: 'SVN-Gotham-Bold';
    color:#FFFFFE;
    font-size: 24px;
    padding-top: 20px;
  }
  .bao{
    color:#FEFCF6;
    margin-left: 10px;
  }
  .st{
    color:#FEFCF6;
  }
  
  
  .bg-02{
  
    padding:15px 20px 20px 15px;
    background: linear-gradient(to right, #455556 26%, #162A2C 26%);
  }
  .hinhbao{
    padding-right: 20px;
    
  }
  .box{
    box-shadow: -1px 0px 12px 10px #162a2c92;
  }
  .teamour{
    padding:0;
    
  }
  .teamour{
    display:none;
  }
  .layout1{
    object-fit: cover;
    width:100%;
    height:400px;
  }
  .layout1{
    width:100%;
    height:400px;
  }
  .chandungMD{
    width:fit-content;
  }
  .img-MD{
    height:400px;
    object-fit: cover;
    
  }




  .layout1{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .layout2{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display:none;
    background-color: #B7BDBE;

  }
  
}
/* Only sm */




@media (min-width: 576px) and (max-width: 767px) {

  .harmony{
    margin-top: -30px;
    font-family: 'SVN-Gotham-Bold';
    color:#455556;
    font-size: 24px;
    margin-bottom: 60px;
  }
  .aus{
    font-family: 'SVN-Gotham-Bold';
    color:#162A2C;
    font-size: 36px;
  }
  .tittle{
    font-family: adusian;
    color:#939D91;
    font-size: 60px;
    margin-top: -8px;
    
  }
  .tlsm{
    font-family: 'SVN-Gotham-Bold';
    color:#FFFFFE;
    font-size: 24px;
    padding-bottom: 10px;
  }
  .tl{
    display:none;
  }
  .bg-02{
    
    
    background: linear-gradient(to right, #455556 36%, #162A2C 36%);
  }
  .teamour{
    display:none;
  }
  .teamsm{
    display:block;
  }
  .teamMD{
    display:none;
  }
  .thanhvien{
    margin-top: 50px;
    margin-bottom: 50px;
  }
   
  .layout {
    height: 147px; /* Giới hạn chiều cao */
    margin-bottom: 50px;
   
    overflow: hidden; /* Đảm bảo nội dung không tràn ra ngoài */
    /* Định vị tương đối để dễ dàng quản lý */
  }
  
  .layout img {
    height: 100%; /* Đặt chiều cao của ảnh bằng chiều cao của layout */
    object-fit: cover; /* Cắt bớt ảnh nếu cần để vừa với layout */
  }
  .img-SM{
    object-fit: cover;
  }
  .layout1 {
    display: block; /* Hiển thị layout1 */
  }
  
  .layout2 {
    display: none; /* Ẩn layout2 ban đầu */
  }
 
  .img-bg{
    margin-top: -50px;
    object-fit: cover;
  
  }
  .bg-01{
    padding-bottom: 0!important;
    max-height: 250px;
  }

}  

/* Only xs */


@media (max-width: 575px) {
  .bg-02{
    display:none;
  }
  .teamour{
    display:none;
  }
  .teamMD{
    display:none;
  }
  

  .bg-1 {
    position: absolute;
    top: 135px; /* Chừa lại 135px từ phần trên của màn hình */
    left: 0;
    width: 100%; /* Chiều rộng đầy đủ của màn hình */
    height: calc(100vh - 135px); /* Chiều cao đầy đủ của màn hình trừ 135px */
    padding:0 !important;
    background-color: #E7E5E0;
    z-index: -1; /* Đặt lớp nền ở phía sau nội dung khác nếu cần */
  } 
  .bao{
    font-size: 24px;
    color:#FEFCF6;
    padding-top: 20px;
    
  }
  #main {
    transition: 0.7s ease; 
    overflow-x:visible;
  
  }
  .st{
    font-family: 'SVN-Gotham-Book';
    font-size: 16px;
    padding: 0 10px 0 10px;
    color:#FEFCF6;
  }
  
}
.teamMD{
 
  margin-top: 44px;
  margin-bottom: 64px;
}

.ifteamMD{
  font-family: 'SVN-Gotham-Bold';
  font-size: 16px;
  padding: 10px;
  color:#162A2C;
  text-wrap: nowrap;
  
}
.stt{
  font-family: 'SVN-Gotham-Book';
  font-size: 14px;
  padding: 0 10px 0 10px;
  color:#162A2C;
}

.bg-xs{

  max-width: 100vw;
  position:absolute;
  top:135px;
  bottom:0;
  z-index: 1;
  


}

/*xs*/
/* Đảm bảo carousel chiếm toàn bộ chiều cao của viewport */
.bg-02-xs {
  margin-top: calc(100vh - 135px); /* Căn chỉnh vị trí của carousel */
  height: 100vh; /* Chiều cao của viewport */
  overflow: hidden; /* Ngăn phần tử con không bị kéo giãn ra ngoài */
}

/* Đảm bảo mỗi slide chiếm toàn bộ chiều cao của viewport */
.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px); /* Chiều cao của viewport trừ padding */
  background-color: #455556; /* Màu nền cho các slide */
  text-align: center; /* Căn giữa văn bản */
  padding: 20px;
  box-sizing: border-box; /* Đảm bảo padding không làm ảnh hưởng đến kích thước */
}

/* Thiết lập kiểu chữ cho tiêu đề */
.chucvu {
  font-family: 'SVN-Gotham-Bold';
  font-size: 24px;
  color: #FFFFFE;
}

/* Đảm bảo hình ảnh trong carousel không bị kéo giãn ra ngoài */
.avt img {
  padding-top: 3vh;
  width: 100%;
  object-fit: cover;
}

/* Đặt màu nền cho các điểm điều hướng */
.slick-dots {
  width: 100%;
  height: 60px;
  background-color: #455556;
}

/* Điều chỉnh kiểu dáng của các điểm điều hướng */
.slick-dots li button {
  width: 50px;
  padding: 0;
  height: 5px; /* Chiều cao của điểm điều hướng */
  border-radius: 5px; /* Bo góc của điểm điều hướng */
  background-color: #ccc; /* Màu nền mặc định */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

/* Màu nền của điểm điều hướng khi đang hoạt động */
.slick-dots li.slick-active button {
  background-color: #162A2C;
}

/* Ẩn nội dung của button trong các điểm điều hướng */
.slick-dots li button:before {
  display: none;
}

/* Đặt kiểu dáng cho các phần tử điểm điều hướng */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

/* Điều chỉnh hình ảnh trong phần tử chứa */
.avt-xs img {
  width: 100%;
  object-fit: cover;
}

/* Thêm khoảng cách phía trên cho phần tử chứa hình ảnh */
.avt-xs {
  margin-top: 50px;
}

/* Thiết lập kiểu chữ cho tiêu đề trong phần tử chứa */
.avt-xs h1 {
  font-family: 'SVN-Gotham-Bold';
  font-size: 36px;
  padding-top: 20px;
  color: #162A2C;
}

/* Đặt kiểu dáng cho hình ảnh trong phần tử chứa */
.thenv img {
  padding: 0;
  border-radius: 8px;
}

/**₫₫₫fix loi**/

/* === Extra Large === */
@media (min-width: 1200px) {
  .chucvu{
    font-family: 'SVN-Gotham-Regular';
    color:#455556;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .fix-rc-4-xl{
    letter-spacing: 0.5px;
  }
  
}
/* === Large === */
@media (min-width: 992px) and (max-width: 1199px) {
  .chucvu{
    font-family: 'SVN-Gotham-Regular';
    color:#455556;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .fix-rc-4-xl{
    letter-spacing: 0.4px;
  }
  
  
}
/* === Medium === */
@media (min-width: 768px) and (max-width: 991px) {
  .bg-1{
    padding-bottom: 50px;
    background-image: url('../Image/AboutUsImage/team/bg-md.png'); /* Đường dẫn đến hình ảnh của bạn */
    background-size: cover; /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa hình ảnh trong phần tử */
    background-repeat: no-repeat; /* Ngăn hình ảnh lặp lại */
    
    height: 100%; /* Chiều cao của phần tử có thể thay đổi dựa trên layout */
    max-height: 350px; /* Đặt chiều cao tối đa của phần tử là 250px */
   
  }
}
/* === Small === */
@media (min-width: 576px) and (max-width: 767px) {
  .bg-1{
    padding-bottom: 50px;
    background-image: url('../Image/AboutUsImage/team/bg-sm.png'); /* Đường dẫn đến hình ảnh của bạn */
    background-size:auto; /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa hình ảnh trong phần tử */
    background-repeat: no-repeat; /* Ngăn hình ảnh lặp lại */
    height: auto; /* Để phần tử điều chỉnh chiều cao dựa trên nội dung và layout */
    max-height: 260px; /* Đặt chiều cao tối đa của phần tử là 250px */
    width: 100%; 
   
  }
}
/* === Extra Small === */
@media (max-width: 575px) {
  .breadcrumb{
    margin-left: -15px;
  }
  .aus{
    font-size: 36px;
  }
  .tittle{
    font-size: 60px;

  }
  .harmony{
    font-size: 24px;
  }
  .chucvu {
    font-family: 'SVN-Gotham-Light';
    font-size: 16px;
    letter-spacing: 4.5px;
    color: #FFFFFE;
  }
  
}
.bg-xs-btn {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-xs-btn img {
  width:calc(100%);
  object-fit: cover;
}
.fix-rc-03{
  
  letter-spacing: -0.3px;
}
.fix-rc-04{
  letter-spacing: -0.4px;
}
.fix-rc-02{
  letter-spacing: -0.2px;
}
.fix-rc-1{
  letter-spacing: 0.1px;
}
.fix-rc-2{
  letter-spacing: 0.2px;
}
.fix-rc-3{
  letter-spacing: 0.3px;
}
.fix-rc-4{
  letter-spacing: 0.4px;
}



